@charset "utf-8";
/*reset*/
@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Tahoma","Microsoft Yahei" !important;}
* html body{text-align: center;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}
a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

#content {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main {
    position: relative;
    max-width: 100%;
    z-index: 5;
    display: block;
    margin: 0 auto;
}

#container-1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 430px;
    background-color: #ed9500;
}
#container-2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 702px;
    top: 436px;
    background-color: #547ab4;
}
#container-3 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 408px;
    top: 1147px;
    background-color: #dc7f92;
}
#container-4 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 379px;
    top: 1564px;
    background-color: #e6b245;
}


