@charset "utf-8";
/*reset*/
@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Tahoma","Microsoft Yahei" !important;}
* html body{text-align: center;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}


.container-1 {
    background-color: #7296D0;
}
.container-2 {
    background-color: #640062;
    padding: 30px 0;
}

#wrapper {
    position: relative;
    width: 1042px;
    height: 536px;
    margin: 0 auto;
    background: url(img/guess.png) 0 0 no-repeat;
}

#count-down {
    position: absolute;
    width: 291px;
    height: 162px;
    background: url(img/daojishi.png) 0 0 no-repeat;
    top: 50px;
    right: 30px;
}

#day {
    position: absolute;
    color: #C31E33;
    font-size: 100px;
    height: 100px;
    line-height: 100px;
    width: 100px;
    text-align: center;
    top: 40px;
    left: 75px;
}
.container-3 {
    background-color: #7296D0;
    padding: 30px 0;
}

.custom-img {
    display: block;
    margin: 0 auto;
}



